autom4te.cache
gtk2plot/.deps
gtk2plot/.libs
=
*config.h
config.log
config.status
*.pc
libtool
Makefile
stamp*
*.o
*.lo
*.la
*~
debian/libgtkplot2/*
debian/libgtkplot-dev/*
debian/tmp
debian/autoreconf*
debian/files
debian/*.debhelper*
debian/*.substvars
